@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');



body {
	background-color: white;
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	list-style: none;
	word-spacing: 3px;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

#cont {
	width: 100%;
	z-index: 10;
	position: fixed;
	top: 0;
	bottom: 0;
	height: 2px;
}

#progress {
	background-image: linear-gradient(to right, #e8d1b6, #c4b1a0);
	width: 0;
	height: inherit;
}

a {
	text-decoration: none;
	list-style: none;
	color: black;
	font-family: "Open Sans";
	font-weight: 600;
}

a:hover, a:focus {
	text-decoration: none;
	color: #09d5ba;
}

p {
	font-weight: 400;
}

/* HEADER */

.centered {
	text-align: center;
}

.fa-chevron-down {
	color: #09d5ba;
}

header {
	background-color: #09022d;
}

.navbar {
	padding-top: 1%;
	padding-left: 12%;
	font-family: 'Lato';
	font-weight: 
}

.navbar-brand {
	font-size: 36px;
	color: white;
}

.navbar-brand:hover {
	color: white;
}

.navbar-collapse {
	padding-top: 5px;
}

.navbar-collapse a {
	color: white;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

.navbar-collapse a:hover {
	background-color: #09022d !important;
	color: #09d5ba;
}

.one {
	background-color: #f1f1f1;
	z-index: 1;
}

.desc {
	padding-top: 25px;
}

.two {
	background-color: #ffffff;
}

section:nth-of-type(2) {
	padding-top: 20px;
}

/* TEXT */

.sp {
	color: #40E0D0;
}

section:nth-of-type(3) p, section:nth-of-type(3) h2, section:nth-of-type(5) p, section:nth-of-type(5) h2 {
	padding-left: 60px;
}





h1 {
	font-size: 48px;
	color: white;
	letter-spacing: 2px;
}

h2 {
	font-size: 26px;
	font-weight: 500;
}

h3 {
	color: rgba(255, 255, 255, 0.5);
	font-weight: 100;
	font-size: 32px;
}

h4 {
	font-size: 18px;
	font-weight: 600;
}

h5 {
	font-size: 16px;
	font-weight: 600;
}

p {
	font-size: 14px;
}

.pro {
	font-size: 12px;
}

/* SECTION ONE */

.icon-bar {
	background-color: white;
}


.img-b {
	position: absolute;
	right: -340px;
	bottom: 220px;
}

.img-r {
	margin: auto;
}

.submit {
	position: relative;
	top: -4em;
	background-color: #09d5ba;
	color: black;
	border: none;
	border-radius: 50px;
	padding: 10px 20px;
	font-weight: 700;
	transition-duration: 0.5s;
}

.submit:hover {
	background-color: #ff670e;
}

.inf {
	color: #09d5ba;
	margin-top: -50px;
	transition-duration: 0.5s;
}

.inf:hover {
	color: #ff670e;
}

.but {
	position: relative;
	top: 250px;
	z-index: 1;
}

.stol {
	padding-top: 50px;
	padding-bottom: 50px;
}

section p {
	font-size: 18px;
}

/* SECTION TWO*/

.two .img-responsive {
	margin: auto;
}

section:nth-of-type(2) {
	margin-top: 10px;
}

/* SECTION THREE */

.frame {
	padding-top: 100px;
	margin-right: -20% !important;
}

.podstol {
	margin-right: 20px;
}

/* SECTION FOUR */

.teh {
	margin-top: -100px;
}

/* SECTION FIVE */

.fig {
	padding-top: 40px;
}


/* CAROUSEL */

.carousel{
    margin-top: 60px;
    margin-bottom: 60px;
}

.carousel-control, .carousel-control:hover {
	
}

#slider .item .carousel-caption p {
	font-size: 16px;
	line-height: 30px;
	color: black;
	margin-bottom: -30px;
	font-family: 'Lato', sans-serif;
	text-shadow: none;
}

#slider .item {
	height: 100px;
    background-size: cover;
    background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.item em {
	float: right;
	font-weight: bold;
}

.glyphicon-chevron-right, .glyphicon-chevron-left {
	color: black;
}

/* CONSTRUCTOR */

#constructor {
	margin-top: 50px;
}

#constructor h2 {
	font-weight: 600;
}

#constructor p {
	font-size: 14px;
}



#constructor h4 {
	margin-bottom: 5%;
}


.color-frame, .material, .size {
	margin-left: 180px;
	margin-top: 20px;
}


.black {
	margin-left: 3%;
}

.white {
	margin-left: -10%;
}

label {
	font-size: 16px;
	font-weight: 400;
}

.promo {
	padding: 5px 10px;
	font-size: 14px;
	margin-top: 20px;
	margin-left: 180px;
	font-family: 'Lato', cursive;
}

.So {
	margin: 20px 180px;
	font-size: 14px;
}

.button {
	border-radius: 50px;
	background: #ff5c11;
	padding: 10px 40px;
	font-size: 16px;
	font-weight: 600;
}

.images {
	margin-top: 30px;
}

.images div {
	margin-left: -20px;
}

/* FOOTER */

footer {
	border-top: 2px solid #1b1f20;
}

/* Mobile\Computer\Tablets */



@media (max-width: 1080px) {

	.img-b {
	display: none;
	}

	#headerwrap h1 {
		font-size: 36px;
	}

	.but {
		top: 75px;
		margin-bottom: 100px;
	}

	#constructor .img-responsive {
		margin-left: 0;
	}

	#slider .item .carousel-caption p {
		font-size: 14px;
		line-height: 20px;
	}

	#constructor {
		margin-top: 50px;
	}

	#constructor h2 {
		font-weight: 600;
	}

	#constructor p {
		font-size: 12px;
	}

	label {
		font-size: 10px;
	}

	.land {
		margin-left: -100px;
	}

	.frame {
		height: 20em;
		width: 29em;
	}

	h1 {
	font-size: 42px;
	color: white;
	letter-spacing: 2px;
	}

	h2 {
		font-size: 22px;
		font-weight: 600;
	}

	h3 {
		color: rgba(255, 255, 255, 0.5);
		font-weight: 100;
		font-size: 28px;
	}

	h4 {
		font-size: 16px;
		font-weight: 600;
	}

	h5 {
		font-size: 14px;
		font-weight: 600;
	}


}


@media (max-width: 720px) {

	.img-b {
		display: none;
	}

	#headerwrap h1 {
		font-size: 36px;
	}

	.but {
		top: 75px;
		margin-bottom: 100px;
	}

	#slider .item .carousel-caption p {
		font-size: 10px;
		line-height: 15px;
	}

	#constructor p {
		font-size: 10px;
	}

	label {
		font-size: 10px;
	}


	.frame {
		height: 8em;
		width: 17em;
	}

	.land {
		margin-left: -120px;
	}

	h1 {
	font-size: 42px;
	color: white;
	letter-spacing: 2px;
	}

	h2 {
		font-size: 18px;
		font-weight: 600;
	}

	h3 {
		color: rgba(255, 255, 255, 0.5);
		font-weight: 100;
		font-size: 28px;
	}

	h4 {
		font-size: 16px;
		font-weight: 600;
	}

	h5 {
		font-size: 14px;
		font-weight: 600;
	}

	section:nth-of-type(3) {
		padding-bottom: 100px;
	}

	section p {
		font-size: 10px;
	}
}
