@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');


body {
	background-color: white;
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	list-style: none;
	word-spacing: 3px;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

.centered {
	text-align: center;
}

header {
	background-color: #09022d;
}

.navbar {
	padding-top: 1%;
	padding-left: 12%;
}

.navbar-brand {
	font-size: 36px;
	color: white;
}

.navbar-brand:hover {
	color: white;
}

.navbar-collapse {
	padding-top: 5px;
}

.navbar-collapse a {
	color: white;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

.navbar-collapse a:hover {
	background-color: #09022d !important;
	color: #09d5ba;
}

.one {
	background-color: #ffffff;
	z-index: 1;
}

.desc {
	margin-top: 50px;
}

.two {
	background-color: #d4d4d4;
}

.sp {
	color: #40E0D0;
}

h1 {
	font-size: 48px;
	color: white;
	letter-spacing: 2px;
}

h2 {
	font-size: 26px;
	font-weight: 500;
}

h3 {
	color: rgba(255, 255, 255, 0.5);
	font-weight: 100;
	font-size: 32px;
}

p {
	font-size: 14px;
}

.icon-bar {
	background-color: white;
}



.img-b {
	position: absolute;
	right: -340px;
	bottom: 220px;
}

.submit {
	position: relative;
	top: -5em;
	background-color: #09d5ba;
	color: black;
	border: none;
	border-radius: 50px;
	padding: 10px 20px;
	font-weight: 700;
}

.inf {
	color: #09d5ba;
	margin-top: -50px;
}

.but {
	position: relative;
	top: 250px;
	z-index: 1;
}

@media (max-width: 667px) {

	.img-b {
	display: none;
	}

	#headerwrap h1 {
		font-size: 36px;
	}

	.but {
		top: 75px;
		margin-bottom: 100px;
	}

}
